<nav>
    <div class="grid-all">
        <div class="grid-container">
            <div class="logo-container">
                <img mat-button alt="Logo" src="/assets/images/logo.svg" routerLink="/"/>
            </div>
        </div>
        <div class="buttons-container">
            <a mat-button class="btn user-link" name="client" routerLink="/cliente">
                <img alt="user" src="/assets/icons/user.svg"/>
                Cliente
            </a>
        </div>
        <div class="buttons-container">
            <a mat-button class="btn rest-link" name="restaurant" routerLink="/restaurante">
                <img alt="fork-and-knife" src="/assets/icons/rest-2.png"/>
                Restaurante
            </a>
        </div>
        
        <div class="buttons-container">
            <a mat-button class="btn adm-link" name="adm" routerLink="/adm">
                <img class="tiny-icon" alt="lock" src="/assets/icons/lock.svg"/>
                Administrador
            </a>
        </div>
    </div>
</nav>

