#container {
    color: var(--color-text-in-primary);
    
}

@media (min-width: 1000px){ 
    #container {
        display: inline-block;
        justify-content: center;
        position: fixed;
        text-align: center;
        top: 0;
        left: 0;
    } 
}
